<app-authorization-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div
      class="validation"
      *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
    >
      <small *ngIf="loginForm.get('email').errors.required">the email can't be empty!</small>
      <small *ngIf="loginForm.get('email').errors.email">put the correct email!</small>
    </div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>email</mat-label>
      <input matInput autocomplete="off" formControlName="email" />
    </mat-form-field>
    <div
      class="validation"
      *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
    >
      <small *ngIf="loginForm.get('password').errors.required">the password can't be empty!</small>
      <small *ngIf="loginForm.get('password').errors.minlength">put the correct password!</small>
    </div>
    <mat-form-field class="input" appearance="fill" autocomplete="off">
      <mat-label>password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
      <button
        (click)="onToggleClickPasswordIcon()"
        mat-icon-button
        matSuffix
        type="button"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="buttons-container">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button mat-raised-button type="reset" [routerLink]="['/register']">Register</button>
    </div>
  </form>
</app-authorization-card>
