@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.header-wrapper {
  height: 60px;
  box-shadow: 0px 3px 5px #324634;
  display: flex;
}

.logo {
  margin-left: 5px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: #ffc400;
  text-shadow: 2px 2px 5px #0a0a0a;
  font-size: 20px;
}

.account-text {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  margin: 0px;
  line-height: 1;
  text-align: center;
  color: #b2dfdb;

  &::first-letter {
    text-transform: capitalize;
  }
}

.account-container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50px;
}

.logout-icon {
  cursor: pointer;
}
