<mat-toolbar class="header-wrapper" color="primary">
  <div class="header-container">
    <img width="30px" src="../../../../assets/icons/owl-1266206.svg" />
    <div class="logo-box">
      <span class="logo">MyFavoriteLanguage</span>
      <div *ngIf="mobileScreen" class="mobile-icons-box">
        <div class="home-icon-box">
          <img [routerLink]="['/home']" width="30px" src="../../../../assets/icons/home.svg" />
        </div>
        <div class="home-icon-box">
          <img
            [routerLink]="['/vocabulary']"
            width="45px"
            src="../../../../assets/icons/list.svg"
          />
        </div>
        <div class="home-icon-box">
          <img [routerLink]="['/new-word']" src="../../../../assets/icons/write.svg" />
        </div>
        <div class="home-icon-box">
          <img [routerLink]="['/training']" width="30px" src="../../../../assets/icons/tick.svg" />
        </div>
      </div>
    </div>
    <div *ngIf="showUserMenu" style="width: 100%; display: flex">
      <div class="menu-container">
        <ng-container *ngIf="!mobileScreen">
          <div class="home-icon-box">
            <img [routerLink]="['/home']" width="30px" src="../../../../assets/icons/home.svg" />
          </div>
          <a class="router-link" color="accent" mat-raised-button [routerLink]="['/vocabulary']"
            >VOCABULARY</a
          >
          <a class="router-link" color="accent" mat-raised-button [routerLink]="['/new-word']"
            >ADD WORD</a
          >
          <a class="router-link" color="accent" mat-raised-button [routerLink]="['/training']"
            >TRAINING</a
          ></ng-container
        >
      </div>
      <div *ngIf="userName" class="account-wrapper">
        <div class="user-container">
          <img width="20px" src="../../../../assets/icons/avatar.svg" />
          <p class="account-text">{{ userName }}</p>
        </div>
        <img
          class="logout-icon"
          (click)="handlerClickOnLogoutIcon()"
          width="20px"
          src="../../../../assets/icons/exit.svg"
        />
      </div>
    </div>
  </div>
</mat-toolbar>
