@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.header-wrapper {
  height: 60px;
  box-shadow: 0px 3px 5px #324634;
  display: flex;
}

.logo {
  margin-left: 5px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: #ffc400;
  text-shadow: 2px 2px 5px #0a0a0a;
  font-size: 20px;
}

.account-text {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  margin: 3px 0px;
  line-height: 1;
  text-align: center;
  color: #b2dfdb;

  &::first-letter {
    text-transform: capitalize;
  }
}

.user-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.account-wrapper {
  display: flex;
  margin-left: auto;
  width: 70px;
}

.logout-icon {
  cursor: pointer;
}

.menu-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  & .router-link {
    width: 120px;
    font-size: 14px;
    font-weight: 700;
    color: #324634;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.home-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50% 50% 50%;
  background-color: #a7ffeb;
  box-shadow: 0px 0px 13px 0px rgba(34, 60, 80, 0.2);
  width: 35px;
  height: 35px;
  & img {
    cursor: pointer;
    outline: none;
  }
}
