<div class="register-container">
    <mat-card class="register-card">
      <form>
        <mat-form-field class="input" appearance="fill">
          <mat-label>email</mat-label>
          <input matInput autocomplete="off" />
        </mat-form-field>
        <mat-form-field class="input" appearance="fill" autocomplete="off">
          <mat-label>password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            (click)="onToggleClickPasswordIcon()"
            mat-icon-button
            matSuffix
            type="button"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-flat-button color="primary" [routerLink]="['/login']">Login</button>
          <button mat-flat-button color="primary" [routerLink]="['/register']">Register</button>
        </div>
      </form>
    </mat-card>
  </div>
