<div>
  <div class="searcher">
    <form [formGroup]="searcher" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>search word...</mat-label>
        <input matInput formControlName="wordName" autocomplete="off" />
        <button
          type="reset"
          mat-button
          mat-icon-button
          *ngIf="wordName"
          matSuffix
          (click)="value = ''; onResetInput($event)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="searcher-btn">
        <button type="submit" mat-mini-fab color="primary">
          <mat-icon>manage_search</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <app-atom-spinner *ngIf="loading" [animationDuration]="1000" [size]="120" [color]="'#00BFA5'">
  </app-atom-spinner>
  <app-word-list
    class="spinner"
    *ngIf="!loading"
    [wordList]="wordList"
    (updateWord)="updateWord($event)"
    (deleteWord)="deleteWord($event)"
  >
  </app-word-list>
  <mat-paginator
    class="paginator-container"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChanges($event)"
  >
  </mat-paginator>
</div>
