.input-box {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

mat-form-field {
  width: 50%;
  justify-self: flex-end;
}

.mat-chip {
 background-color:#B2DFDB;
}

.form-container {
  margin-top: 45px;
}

.input-info {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  color: #004d40;
  text-shadow: 0px 0px 5px #a7ebde;
}

.submit-btn-box {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-bottom: 45px;
}
