.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  @media only screen and(min-width: 1280px) {
    width: 700px;
    flex-wrap: nowrap;
  }
}

.input-info-box {
  @media only screen and(min-width: 1280px) {
    width: 50%;
  }
}

mat-form-field {
  width: 100%;
  margin: 0 auto;
  justify-self: flex-end;
  @media only screen and(min-width: 1280px) {
    width: 50%;
  }
}

.mat-chip {
  background-color: #b2dfdb;
}

.form-container {
  margin-top: 10px;
  @media only screen and(min-width: 1280px) {
    margin-top: 45px;
  }
}

.input-info {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  color: #004d40;
  text-shadow: 0px 0px 5px #a7ebde;
  @media only screen and(min-width: 1280px) {
    font-size: 15px;
  }
}

.submit-btn-box {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-bottom: 45px;
}

.select-icon {
  width: 25px;
  @media only screen and(min-width: 1280px) {
    width: 40px;
  }
}
